	/* couleur des titres */
	
	h1, h2, #films article h3{
		color:#ed9837;
	}
	
	#films h3, #related article h2{
		color:#218E8E;
	}

	#related article h3{
		color:#FFFFFF;
	}	
	
	
	/* margin et padding */
	
	#films, #related, #pageFooter{
		padding:0% 1%;
		margin:0;
	}
	
	#mainHeader, #topImage, mainNav{
		padding:0;
		margin:0;
	}
	
	/* on stylise le slogan */
	
	#mainHeader hgroup h2{
		font:"Times New Roman", Times, serif;
		font-style:italic;
		margin-top:-40px;
		margin-left:280px;
	}
	
	/* on cache les titres qui servent seulement à l'outline */
	
	#mainHeader hgroup h1, #mainNav h1, #related h1, #social h1, #pageFooter h2{
		position:absolute;
		left:-10000px;
	}

	/* listes */
	
	#mainNav ul li, #social ul li{
		list-style-type:none;
		color:white;
		text-decoration:none;
		display:inline;
	}
		
	/* menu */
	
	#mainNav ul{	
		margin-top:0px;
		padding: 10px 1%;
	}

	#mainNav ul li a{
		padding:5px 1%;
		text-decoration:none;
		color:white;
	}
	
	#mainNav ul li.active a{
		color:#ed9837;
		background:white;
	}

	/* social */
	
	#social ul{
		padding:0;
		margin:0;
		text-align:center;
		width:100%;
		padding-top:10px;
	}
	
	/* related */
	
	#related .randomFilmImage{
		text-align:center;
	}
	
	/* films */
	
	#films article{
		clear:both;
	}
	
	#films article .filmImage{
		float:left;
		margin-bottom:30px;
		margin-right:1%;
	}
		
	/* footer */
	
	#pageFooter p{
		position:absolute;
		margin-top:10px;
	}
	
	#mainHeader{
		height:80px;
		background:#218e8e;
	}
		
	
	
@media screen and (min-width: 1024px){
	#pageFooter{
		width: 98%;
		clear:both;
		height:40px;
		background:#218e8e;
		color:white;
	}
	
	#related{
		float:right;
		width: 23%;	
		background:#f6b468;
	}
	
	#topImage{
		height:280px;
		background: url(../images/hollywood_1280.jpg) no-repeat center;
	}
body {
		width: 90%;
		margin: 0 auto;
		min-width: 1000px;
		max-width: 1280px;
		background : #020;
	}

#films{
		float:left;
		width: 73%;
		background:#ffffff;
	}
	
	#content{
		display:block;  /* necessaire pour l'effet faux columns */
		background:#f6b468;
		overflow: hidden; /* necessaire pour l'effet faux columns */
		width: 100%;
	}
	
	.filmImage {max-width: 45%}
	.filmImage img {max-width: 100%}
	
	.randomFilmImage img {max-width: 100%}
	
	#mainNav{
		height:40px;
		background:#ed9837;
	}
}

	
	
@media screen and (max-width: 1023px){
	body {width : 100%}
	mainHeader, mainNav {text-align: center}
	
	#content{
		display:block;  /* necessaire pour l'effet faux columns */
		background:#fff;
		overflow: hidden; /* necessaire pour l'effet faux columns */
		width: 100%;
	}
	
	.video iframe {max-width: 100%; height: auto}
}	
	
@media screen and (min-width: 481px)	 and (max-width: 1023px){
	
	#content .filmImage {width: 50%}
	#content img {width: 100%}
	.randomFilmImage {width: 40%;
	text-align: center}
	
	#topImage{
		height:280px;
		background: url(../images/hollywood_1000.jpg) no-repeat center;
	}
	
	#mainNav{
		height:40px;
		background:#ed9837;
	}
	
}

@media screen and (max-width: 480px){
	#topImage, #mainHeader hgroup h2 {display: none}
	
	#films {width: 98%}
	#content img {width: 60%}
	#mainNav ul li, #social ul li{display:block}
	#mainNav{
		height:80px;
		background:#ed9837;
	}
}
